.container {
  position: relative;
  background-color: #fff;
  width: 700px;
  margin: -40px auto 0;
  padding: 50px;
  border-radius: 8px;
}

@media (min-width: 640px) {
  .container {
    width: 840px;
    margin: -40px auto 0;
    padding: 80px;
  }
}
